@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Il tempio della pizza</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar sticky-top">
            <div class="container-fluid justify-content-center">
                <h2>Il Tempio della Pizza</h2>
            </div>
        </nav>
    </header>
    <main class="container">
        <h1>Il nostro olimpo</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Zeus Padre</th>
                    <td><img src="img\ZeusPadre.jpg" class="img-fluid" alt="ZeusPadre" width="300"></td>
                    <td>La Zeus padre nasce in venerazione del padre di tutti gli dei Zeus, unisce una sfiziosa stracciatella di burrata pugliese, cicoria di campo, pomodorini del piennolo e fiori di zucca, con un goccio di olio EVO umbro.</td>
                    <td>14 €</td>
                </tr>
                <tr>
                    <td>Ade</td>
                    <td><img src="img\Ade.webp" class="img-fluid" alt="Ade" width="300"></td></td>
                    <td>Il regno dei morti, in tutto il suo valore, la Ade è fatta con curry verde di verdure bio, pollo allevato a terra marinato CBT, gel di curry affumicato, crumble di arachidi e coriandolo.</td>
                    <td>17 €</td>
                </tr>
                <tr>
                    <td>Persefone</td>
                    <td><img src="img\Persefone.jpg" class="img-fluid" alt="Persefone" width="300"></td></td>
                    <td>Il regno dei morti ha accolto Persefone, ma la natura l'ha richiamata, e questa pizza testimonia tutto il suo amore per il mondo. Scarola riccia dell’orto biologico di Imma Migliaccio, pomodorini del piennolo, olive caiazzane, capperi di Salina, alici di Cetara e burrata di bufala.</td>
                    <td>12 €</td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
